@model IEnumerable<KateHelloWorldHelperLib.Models.Data.CityDto>

@{
    ViewBag.Title = "Kate Hello World";
}

<div class="jumbotron">
    <div class="row">
        @Html.DisplayFor(m => m)
    </div>
</div>